<it-angular-blocks extend-template="'http://localhost:8080/eu/rest/html/get'" id="http://localhost:8080/fr/rest/html/get">
    <!--Header is not overriden-->
    <div data-block-append="content">
        <div class="form-group">
            <input it-input
                   it-label="Montant Total Net"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.totalNetAmount">
        </div>
        <div class="form-group">
            <input it-input
                   it-label="Site"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.site">
        </div>
        <div class="form-group">
            <input it-input
                   it-label="Type"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.type">
        </div>
        <div class="form-group">
            <input it-input
                   it-label="Date de numérisation"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.scanDate">
        </div>
    </div>
    <div data-block="footer">
        <br/>
        <br/>
        <br/>
        <div class="form-group">
            <input it-input
                   it-label="Id Fournisseur"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.supplierId">
        </div>
        <div class="form-group">
            <input it-input
                   it-label="Nom du Fournisseur"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.supplierName">
        </div>
        <div class="form-group">
            <input it-input
                   it-label="Code Pays"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.countryCode">
        </div>
    </div>
</it-angular-blocks>