<it-angular-blocks extend-template="'http://localhost:8080/api/rest/html/get'" id="http://localhost:8080/world/rest/html/get">
    <div data-block-append="content">
        <br/>
        <br/>
        <br/>
        <br/>
        <div class="form-group">
            <input it-input
                   it-label="Etat"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.status">
        </div>
        <div class="form-group">
            <input it-input
                   it-label="N° de facture"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.number">
        </div>
        <div class="form-group">
            <input it-input
                   it-label="Devise"
                   required=""
                   name="user"
                   class="form-control floating-label mg-top-15"
                   type="text"
                   ng-model="selectedInvoice.currency">
        </div>
    </div>
    <div data-block="footer">
       <div></div>
    </div>
</it-angular-blocks>